body {
    
    text-align: center;
    background-color: lightgray;
}
#turn {
    color: red;
}
.game-floor {
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 200px 700px 200px ;
    
}

main{
    
    margin-top: 10px;
}

.game-board{
    display: grid;
    background-color: white;
    height: 700px;
    width: 700px;
    border: 2px solid black;
    grid-template-columns: 1.6fr 1fr 1.6fr;
    grid-template-rows: 1.6fr 1fr 1.6fr;
}




.square-yellow {
    background-color: white;
    border: 50px groove yellow;
    

}
.square-blue {
    background-color: white;
    border: 50px groove #1aaff5;
    
}
.square-green {
    background-color: white;
    border: 50px ridge #24f124;
    
}
.square-red {
    background-color: white;
    border: 50px groove red;
     
}
.yellow-one, .yellow-two, .yellow-three, .yellow-four {
    border: 1px solid black;
    border-radius: 50%;
    background-image: linear-gradient(yellow, #a0a011);
    height: 40px;
    width: 40px;
}

.blue-one, .blue-two, .blue-three, .blue-four {
    border: 1px solid black;
    border-radius: 50%;
    background-image: linear-gradient(#1aaff5, #156386);
    height: 40px;
    width: 40px;
}

.green-one, .green-two, .green-three, .green-four {
    border: 1px solid black;
    border-radius: 50%;
    background-image: linear-gradient( #24f124,  #107e10);
    height: 40px;
    width: 40px;
}


/* .red-one, .red-two, .red-three, .red-four */
.redBox, .redOn {
    border: 1px solid black;
    border-radius: 50%;
    background-image: linear-gradient(red, #8b0f0f);

    height: 40px;
    width: 40px;
} 
.redOn{
    background-color: red;
}

.home {
    /* border: 1px solid black; */
    border-bottom: 83px solid #e53935;
    border-top: 83px solid #fff176;
    border-left: 83px solid #1aaff5;
    border-right: 83px solid  #24f124;
}

.moveBoxVertical {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.moveBoxHorizontal {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.move {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
}

.player-Box {
    margin: 20px;
    display: grid;
    /* border: 30px solid white; */
    background-color:white;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}
.box {
    margin: 10px;
}

.y-home, .y-start { 
    background-color: yellow;
    
}
.b-home, .b-start {
    background-color: #1aaff5;
    
}
.r-home, .r-start {
    background-color: red;
    
}
.g-home, .g-start {
    background-color: #24f124;
    
}
